@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");

* {
	--bg: rgb(23, 24, 22);
	--primary: #682860ff;
	--secondary: #5171a5ff;
	--text: rgb(198, 211, 204);
	font-family: "Montserrat", sans-serif;
}

body {
	margin: 0;
	color: var(--text) !important;
	background-color: var(--bg);
}
